.header {
    justify-content: unset;
}

.container {
    justify-content: space-between;
}

.nav {
    padding-left: 30rem;
}
.button {
    background-color: #FF4800;
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
}
button img {
    padding-bottom: 0.3rem;
}
.text {
    font-weight: 500;
    padding-top: 110px;
}
.buttons {
    padding-top: 300px;
}


